*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

.container{
  
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(182,253,45,1) 100%);

}

.tiger{
    
    height: 60%;
    margin-bottom: 50px;
}

.logo{
    font-family: myfont;
    color: lightcoral;
    text-align: center;
    font-size: xx-large;
    white-space: nowrap;

}

.forms{
    display: grid;
    width: 60%;
    margin-top: 20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80px 80px;
    
    
}


.input{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}
.input label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@font-face {
    font-family: 'myfont';
    src: url("./assets/font.ttf");
}